<% layout('./BootStrap/Layout') %>
<%- include("./Bootstrap/successFlash") %>
<div class="d-flex justify-content-center my-3">
<form action="/CampGrounds/register" method="POST" novalidate class="needs-validation col-md-6 col-lg-4 col-sm-8 shadow p-3 mb-5 bg-white rounded">
    <h3 class="text-center">Create Account</h3>
    <div class="form-group mt-3  ">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1496947850313-7743325fa58c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGNhbXBpbmd8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
    </div>
    <div class="form-group mt-3  ">
      <input name="email" type="email" class="form-control mt-1 " id="Title" placeholder="email" required>

    </div>


    <div class="form-group mt-3 ">
      <input name="username" type="text" class="form-control mt-2" id="username" placeholder="username" required>

      <div class="valid-feedback">
        Looks good!
      </div>

    </div>


    <div class="form-group mt-3 ">
      <input name="password" type="password" class="form-control mt-2" id="password" placeholder="password" required>

      <div class="valid-feedback">
        Looks good!
      </div>

    </div>
    <div class="form-group my-3">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>

    <div class="form-group my-3">
      <h6>Have Already an account ? <a class="text-danger text-decoration-none pe-auto" href="/CampGrounds/login"> Login Here</a> </h6>
  </div>
   
   
  </form>
</div>
